# App
APP_PORT=1111
APP_ENV=something_like_production_or_development

# Database
POSTGRES_HOST=db
POSTGRES_PORT=1111
POSTGRES_DB=campaigns
POSTGRES_USER=replace_dnd_user
POSTGRES_PASSWORD=change_me_please

# Sessions
SESSION_SECRET_KEY=replace_with_a_random_32plus_char_string
SESSION_DURATION_DAYS=30
